<!-- About Section Start -->
<div class="rs-about style11 mt-10 pb-10 md-pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 md-mb-30 mt-30">
                <div class="img-part js-tilt">
                    <img src="assets/images/about.JPG" alt="About">
                </div>
            </div>
            <div class="col-lg-6 pl-65 md-pl-15 col-md-12">
                <div class="sec-title2 mt-50
                ">
                    <div class="sub-title">
                        History
                    </div>
                    <div class="bold-text mb-22">Mahatma Gandhi Vidhyalaya, Mogari (Secondary and Higher Secondary)
                    </div>
                    <p class="desc">
                        Established in 1966, our school has been a pillar of excellence in education, shaping young
                        minds with knowledge, values, and skills for a bright future. Nestled in a clean and natural
                        environment, our campus provides a peaceful and stimulating setting where students can thrive
                        academically and personally. Our school is committed to providing quality education through a
                        team of highly skilled and experienced teachers who ensure that learning is engaging,
                        interactive, and comprehensive. To enhance the learning experience, each classroom is equipped
                        with the latest smart TVs, allowing teachers to integrate modern technology into their lessons
                        effectively.
                    </p>
                </div>
                <div class="btn-part mt-10">
                    <a class="readon" routerLink="/basic/about">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About Section End -->