.btn-outline-primary {
    color: #d14f15;
    border-color: #d14f15;
}
.btn-outline-primary:hover {
    color: #fff;
    background-color: #d14f15;
    border-color: #d14f15;
}
.btn-outline-primary:active {
    color: #fff;
    background-color: #d14f15;
    border-color: #d14f15;
}